/* Style Sheet */
/* so I put a kitten bomb that reformats the website*/
.square {
	position: auto;
	background: transparent;
	width: 100px;
	height: 100px;
}
.table {
	position: center;
	height: 100%;
	width: 100%;
}
h1 {
	text-align: center;
}
html, 
body {
	margin: 0;
	height: 100%;
}
.jumbotron {
	max-width: 100%;
}