/* Style Sheet */
.img-responsive .carousel {
	height:400px;
}
.square {
	position: auto;
	background: transparent;
	width: 100px;
	height: 100px;
}
.table {
	position: center;
	height: 100%;
	width: 100%;
}
h1 {
	text-align: center;
}
.container {
	height: 100%;
}