/* Style Sheet */
.img-responsive .carousel {
	height:400px;
}
.board {
	height: auto;
	width: auto;
	background-color: #222222;
	padding: 1px;
	box-shadow: 10px 10px 5px #888888;
}
.square {
	position: auto;
	background: transparent;
	width: 100px;
	height: 100px;
}
.table {
	height: 100%;
	width: 100%;
}